[submodule "src/Universal_Robots_ROS2_Description"]
	path = src/Universal_Robots_ROS2_Description
	url = https://github.com/UniversalRobots/Universal_Robots_ROS2_Description.git
[submodule "thard_party/lerobot"]
	path = thard_party/lerobot
	url = https://github.com/huggingface/lerobot.git
