[submodule "thard_party/lerobot"]
	path = thard_party/lerobot
	url = https://github.com/huggingface/lerobot.git
[submodule "project/src/Universal_Robots_ROS2_GZ_Simulation"]
	path = project/src/Universal_Robots_ROS2_GZ_Simulation
	url = https://github.com/UniversalRobots/Universal_Robots_ROS2_GZ_Simulation.git
